<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<form th:action="@{save2}"
th:object="${vehicle}" method="POST">
<div class="form-group">
<h3>VIN Decoder</h3>
<br>
<br>
<p> Enter the Vehicle ID</p>
<input type="text" class="form-control"  th:field="*{vehicleId}" placeholder="Vehicle Id" />
<br>
<button type="submit" class="btn btn-success">Search</button>
</div>
</form>
</div>
</div>
</body>
</html>
